<div class="main_navbar">

  <div class="logo_container">
    <a href="index.html">
      <img src="assets/images/Logo.png" alt="logo" class="logo">
    </a>
  </div>

  <div class="navbar">
    <ul>
      <li><a href="index.html">Doctor <mat-icon class="mat-18">expand_more</mat-icon></a></li>
      <li><a href="about.html">Services <mat-icon class="mat-18">expand_more</mat-icon></a></li>
      <li><a href="services.html">Pharmacy Owner <mat-icon class="mat-18">expand_more</mat-icon></a></li>
      <li><a href="contact.html">About Us</a></li>
      <li><a href="contact.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="contact.html">FAQ</a></li>
      <li><a href="contact.html">About Us</a></li>
    </ul>
  </div>

  <div class="login">

    <ul>
      <li><a href="login.html"><img src="assets/images/Vector.png" alt=""> En <mat-icon class="mat-18">expand_more</mat-icon></a></li>
      <li><button class="login_btn">Login</button></li>
    </ul>

  </div>
</div>
