<div class="main_div">
  <div class="null">

  </div>
  <div class="sec1">

    <div class="section1_left">
        <img src="assets/images/l1.png" alt="">
    </div>

    <div class="section1_middle">
      <div class="subsecm1">
        <p class="subHeader">Protect and Take</p>
        <p class="subHeader">Care of Your Health</p>
        <p class="subDesc">Download Our App and feel free to take your Health Advice from a Specialist.</p>
        <button class="btn btn-primary">Search for a Service</button>
        <div class="subdownload">
          <img src="assets/images/apple.png" alt="">
          <img src="assets/images/googleplay.png" alt="">
        </div>
      </div>
    </div>

    <div class="section1_right">
        <img src="assets/images/r1.png" alt="">
  </div>

</div>
