<div class="main_div">
  <div class="null"></div>

  <div class="sec1">
    <div class="section1_left">
      <img src="assets/images/l1.png" alt="" />
    </div>

    <div class="section1_middle">
      <div class="subsecm1">
        <p class="subHeader">Protect and Take</p>
        <p class="subHeader">Care of Your Health</p>
        <p class="subDesc">
          Download Our App and feel free to take your Health Advice from a
          Specialist.
        </p>
        <button class="searchbtn">Search for a Service</button>
        <div class="subdownload">
          <img src="assets/images/apple.png" alt="" />
          <img src="assets/images/googleplay.png" alt="" />
        </div>
      </div>
    </div>

    <div class="section1_right">
      <img src="assets/images/r1.png" alt="" />
    </div>
  </div>

  <div class="sec2">
    <div class="header">
      <p class="aboutHeader">About Us</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="aboutdetails">
      <div class="aboutimage">
        <img src="assets/images/aboutImage.png" alt="" />
      </div>

      <div class="aboutdesc">
        <p class="aboutdetails2Desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <button class="readbtn">Read More</button>
      </div>
    </div>
  </div>

  <div class="sec3">
    <div class="header">
      <p class="aboutHeader">Our Services</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="aboutdetails">
      <div class="aboutimage">
        <img src="assets/images/service.png" alt="" />
      </div>

      <div class="aboutdesc">
        <p class="aboutdetails2Desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <button class="readbtn">Read More</button>

        <div class="list">
          <div class="flex">
            <img src="assets/images/arrow.png" alt="" />
            <p>General Healthcare</p>
          </div>
          <div class="flex">
            <img src="assets/images/arrow.png" alt="" />
            <p>Maternal Healthcare</p>
          </div>
          <div class="flex">
            <img src="assets/images/arrow.png" alt="" />
            <p>Child Healthcare</p>
          </div>
          <div class="flex">
            <img src="assets/images/arrow.png" alt="" />
            <p>Elder Healthcare</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec4">
    <div class="header">
      <p class="aboutHeader">Are You a Qualified & Expert Doctor?</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="aboutdetails">
      <div class="aboutdesc">
        <div class="subdiv">
          <p class="aboutdetails2Desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <button class="readbtn">Read More</button>
        </div>
      </div>

      <div class="aboutimage">
        <img src="assets/images/expart1.png" alt="" />
      </div>
    </div>
  </div>

  <div class="sec5">
    <div class="header">
      <p class="aboutHeader">Frequently Asked Questions</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="aboutdetails">
      <div class="aboutimage">
        <img src="assets/images/faq.png" alt="" />
      </div>

      <div class="aboutdesc">
        <div class="questions">
          <div class="quesAns">
            <div class="ques">
              <p>What is TM?</p>
              <button>-</button>
            </div>
            <div class="ans">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard
              </p>
            </div>
          </div>
          <div class="quesAns">
            <div class="ques">
              <p>What do you treat?</p>
              <button>+</button>
            </div>
            <!-- <div class="ans">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
            </div> -->
          </div>
          <div class="quesAns">
            <div class="ques">
              <p>How does it work?</p>
              <button>+</button>
            </div>
            <!-- <div class="ans">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
            </div> -->
          </div>
          <div class="quesAns">
            <div class="ques">
              <p>Who provides consultation on TM?</p>
              <button>+</button>
            </div>
            <!-- <div class="ans">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
            </div> -->
          </div>
          <div class="quesAns">
            <div class="ques">
              <p>Are the registered Doctors varified?</p>
              <button>+</button>
            </div>
            <!-- <div class="ans">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              </p>
            </div> -->
          </div>
        </div>
        <div class="buttondiv">
          <button class="readbtn">View All FAQ’s</button>
        </div>
      </div>
    </div>
  </div>

  <div class="sec6">
    <div class="header">
      <p class="aboutHeader">What Are The Patients
        Saying About us</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="carousel">

      <swiper
      [navigation]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let comment of comments">


        <div class="aboutdetails">

          <div class="aboutimage">
            <img [src]="comment.images" alt="" />
          </div>

          <div class="aboutdesc">
            <div class="col1">
              <img src="/assets/images/cot1.png" alt="" />
            </div>
            <div class="disc">
              <p>{{comment.comments}}</p>
            </div>
            <div class="container">
              <div class="container1">
                <p class="name">{{comment.name}}</p>
                <p class="details">{{comment.depertment}}</p>
              </div>

              <div class="container2">
                <img src="/assets/images/cot2.png" alt="" />
              </div>

            </div>
          </div>
        </div>

      </ng-template>

    </swiper>

    <div class="thumb">
      <div class="images">
        <img src="/assets/images/image11.png" alt="">
      <img src="/assets/images/image2.png" alt="">
      <img src="/assets/images/image3.png" alt="">
      </div>
    </div>

    </div>
  </div>


  <div class="sec7">
    <div class="header">
      <p class="aboutHeader">News & Blogs</p>

      <div class="aboutDescDiv">
        <p class="aboutDesc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
    </div>

    <div class="aboutdetails">



      <swiper
    [slidesPerView]="4"
    [spaceBetween]="20"
    [freeMode]="true"
    [navigation]="true"
    class="mySwiper"
  >

    <ng-template swiperSlide *ngFor="let item of news">
      <div class="productCard">
        <div class="productImage">
          <img [src]="item.images"  alt="" />
        </div>
        <div class="productDetails">
          <p class="date">{{item.date}}</p>
          <p class="productName">{{item.title}}</p>
          <p class="productDesc">{{item.description}}</p>

          <div class="name_button">
            <p class="name">{{item.name}}</p>
            <button class="readbtn">Read More</button>
          </div>
        </div>
      </div>
    </ng-template>



  </swiper>




      <!-- <div class="productCard">
        <div class="productImage">
          <img src="/assets/images/card1.png" alt="" />
        </div>
        <div class="productDetails">
          <p class="date">November 5, 2021</p>
          <p class="productName">Lorem Ipsum</p>
          <p class="productDesc">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard
          </p>

          <div class="name_button">
            <p class="name">Dr. Saifur Rahman</p>
            <button class="readbtn">Read More</button>
          </div>
        </div>
      </div> -->

    </div>
  </div>



</div>
