<div class="footer_main">
  <div class="margin">
    <div class="hr">
      <hr />
    </div>
    <div class="footer_head">
      <img src="assets/images/Logo.png" alt="" />
    </div>

    <div class="sec1">
      <div class="sec1_part1">
        <p>
          Lorem ipsum is dolor sit amet, csectetur adipiscing elit, dolore smod
          tempor incididunt ut labore et.
        </p>
      </div>

      <div class="sec_part2">
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Doctor</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Services</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Pharmacy Owner</p>
        </div>
      </div>

      <div class="sec_part2">
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>About Us</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Blog</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Contact Us</p>
        </div>
      </div>

      <div class="sec_part2">
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Terms & Conditions</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>Privacy Policy</p>
        </div>
        <div class="flex">
          <img src="assets/images/arrow.png" alt="" />
          <p>FAQ</p>
        </div>
      </div>
    </div>

    <div class="sec2">
      <div class="sec1_part1">
        <div class="sub_part1">
          <p class="header">Contact Us</p>

          <div class="contactImage">
            <img src="assets/images/c1.png" alt="" class="loc" />
            <p>House-20, Road-27, Block-A, Banani, Dhaka.</p>
          </div>
          <div class="contactImage">
            <img src="assets/images/c2.png" alt="" class="phone" />
            <p>+8801234567890, +88058269458</p>
          </div>
          <div class="contactImage">
            <img src="assets/images/c3.png" alt="" class="mail" />
            <p>tmbd@mail.com</p>
          </div>
          <div class="contactImage">
            <img src="assets/images/c4.png" alt="" class="web" />
            <p>tmbd.com</p>
          </div>
        </div>

        <div class="sub_part2">
          <p class="header">Social Links</p>

          <div class="social">
            <img src="assets/images/s1.png" alt="" />
            <img src="assets/images/s2.png" alt="" />
            <img src="assets/images/s3.png" alt="" />
            <img src="assets/images/s4.png" alt="" />
            <img src="assets/images/s5.png" alt="" />
          </div>
        </div>
      </div>
      <div class="sec2_part2">
        <p class="download">Download Our App</p>
        <img src="assets/images/googleplay.png" alt="" />
        <img src="assets/images/apple.png" alt="" />
      </div>
    </div>

    <div class="copy">
      <p>Copyright TM 2021. All rights reserved. Created by Golden Infotech.</p>
    </div>
  </div>
</div>
